extends layout
block content
    h1= title
    form(id='rectangleForm', action="/resource/rectangles", method="POST")
        div.form-group
        label.rectangleAttr(for='width') rectangle width
        input#width(type='number', name='width')
        div.form-group
        label.rectangleAttr(for='height') rectangle height
        input#height(type='number', name='height')
        input(type="submit")
    script.
        document.forms['rectangleForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });
